footer {
	height: 0;
	background-color: $baseColor;
	display: table-row;
}

.footer-wrap {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 1em;
	color: white;
}

.copyright-text {
	text-align: center;
}