.flex-container, .admin-flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

.flex-item, .admin-flex-item {
	width: 100%;
	min-width: 11em;
	margin: 0.25em 0;
	padding: 0.5em;
	align-self: flex-start;
	align-content: center;
	border: 2px solid $baseColor;
}

.admin-flex-item {
	min-height: 20em;
	border: 0;
	border-top: 2px solid $baseColor;
}

@media screen and (min-width: $widthMed) {
	.flex-item {
		margin: 0.25em 0.5em 0.25em 0;
		width: 45%;
	}

	.admin-flex-item {
		margin: 0.25em 0.5em 0.25em 0;
		width: 100%;
	}
}

@media screen and (min-width: $widthLar) {
	.flex-item {
		width: 30%;
	}

	.admin-flex-item {
		width: 45%;
	}
}